* {
  transition: 0.4s;
}

img {
  width: 100%;
}

.hero-content {
  position: absolute;
  z-index: 1;
  color: white;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero,
.article-list,
.hero-slide-img {
  overflow: hidden;
}
.hero img,
.article-list img,
.hero-slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  background: black;
  position: relative;
  height: 55rem;
  padding-left: 50%;
  padding-top: 30rem;
  flex-wrap: nowrap;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .hero {
    padding-left: 50px;
  }
}
.hero > div {
  position: relative;
  padding: 0;
  min-width: 400px;
  min-height: 300px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .hero > div {
    min-width: 200px;
  }
}
.hero > div > a {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero > div p {
  display: none;
}
.hero > div .hero-content {
  padding: 0.3rem;
}
.hero > div .hero-slide-img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.hero > div.active {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 !important;
  border-radius: 0;
}
.hero > div.active > a {
  display: none;
}
.hero > div.active::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
@media screen and (max-width: 768px) {
  .hero > div.active::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  }
}
.hero > div.active p {
  display: block;
}
.hero > div.active .hero-content {
  top: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  padding: 80px 2rem 2rem;
}
@media screen and (max-width: 768px) {
  .hero > div.active .hero-content {
    width: 100%;
    height: 50%;
  }
}
.hero > div.active .hero-slide-img {
  border-radius: 0;
}

.next-icon {
  cursor: pointer;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: calc(41.5rem - 20px);
}
.next-icon::before, .next-icon::after {
  content: "";
  position: absolute;
  background: green;
  width: 15px;
  height: 1px;
  left: calc(50% - 5px);
}
.next-icon::before {
  top: 14px;
  transform: rotate(45deg);
}
.next-icon::after {
  bottom: 14px;
  transform: rotate(-45deg);
}

.nav-toggle {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
}
.nav-toggle span, .nav-toggle span::before, .nav-toggle span::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  left: calc(50% - 10px);
  background: white;
}
.nav-toggle span {
  top: calc(50% - 1px);
}
.nav-toggle span::before {
  top: 8px;
}
.nav-toggle span::after {
  bottom: 8px;
}
.nav-toggle.active span {
  background: rgba(255, 255, 255, 0);
}
.nav-toggle.active span::before {
  transform: rotate(45deg);
}
.nav-toggle.active span::after {
  transform: rotate(-45deg);
}
.nav-toggle.active span::before, .nav-toggle.active span::after {
  top: calc(50% - 1px);
}

/*# sourceMappingURL=style.css.map */
